<% include ../partials/header %> 
<link rel="stylesheet" type="text/css" href="/stylesheets/background.css">

<div class="jumbotron jumbotron-fluid pb-5 mb-5">
  <div class="container">
	<a href="/campgrounds" class="card-link float-right"><i class="fas fa-arrow-circle-left"></i> Go Back</a>
    <h1 class="display-4">Notifications management</h1>
    <p class="lead">Manage all of your Notifications</p>
		 
	<ul>
	<% allNotifications.forEach(function(notification) { %>
	<li>
		<a href="/campgrounds/<%= notification.campgroundId %>">
			<%= notification.username %> <%=notification.message %> 
		</a> <form class="float-right" action="/notifications/<%=notification.id%>?_method=DELETE" method="POST">
					<button type="submit" class="close" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
			</form> 
	</li>
	<% }); %>
</ul>
  </div>
</div>
	






